.DS_Store
*.pyc
*.egg-info
*.swp
tags
indian_hrms_compliance/public/dist
indian_hrms_compliance/public/node_modules
indian_hrms_compliance/docs/current
node_modules/
dist/
__pycache__/

# build/
.vscode
.vs
node_modules
*debug.log
indian_hrms_compliance/docs/current
indian_hrms_compliance/public/frontend
indian_hrms_compliance/www/indian_hrms_compliance.html
indian_hrms_compliance/public/roster
indian_hrms_compliance/www/roster.html
