include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include indian_hrms_compliance *.css
recursive-include indian_hrms_compliance *.csv
recursive-include indian_hrms_compliance *.html
recursive-include indian_hrms_compliance *.ico
recursive-include indian_hrms_compliance *.js
recursive-include indian_hrms_compliance *.json
recursive-include indian_hrms_compliance *.md
recursive-include indian_hrms_compliance *.png
recursive-include indian_hrms_compliance *.py
recursive-include indian_hrms_compliance *.svg
recursive-include indian_hrms_compliance *.txt
recursive-exclude indian_hrms_compliance *.pyc